# Ignorer les artefacts de développement local

# Tests et coverage
tests/
.pytest_cache/
*.pyc
__pycache__/
*.pyo
.coverage
htmlcov/

# Artefacts pip/setuptools
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.iml

# Git
.git/
.gitignore
